services:
  devcontainer-superset:
    container_name: devcontainer-superset
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    command: ['sh', '-c', 'tail -f /dev/null'] # Changed this to keep container running
    volumes:
      - ..:/workspace:cached
      - ~/.aws:/root/.aws
      - /var/run/docker.sock:/var/run/docker.sock

    ports:
      - '3000:3000'
      - '5173:5173'
    networks:
      - localstack-net

  superset:
    build:
      context: .
      dockerfile: ./Dockerfile.superset
    ports:
      - '8088:8088'
    depends_on:
      - postgres-superset
    networks:
      - localstack-net


  postgres-superset:
    image: postgres:15.10
    environment:
      - POSTGRES_USER=superset_user
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=supersetdb
    ports:
      - '5433:5432'
    volumes:
      - postgres_superset:/var/lib/postgresql/data
    networks:
      - localstack-net
  postgres:
    image: postgres:17.2
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=cadash_db
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - localstack-net
  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=True
      - PGADMIN_CONFIG_LOGIN_BANNER="Authorized users only!"
    ports:
      - '5050:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
      - postgres-superset
    networks:
      - localstack-net
# Network to be able to talk to localstack
networks:
  localstack-net:
    driver: bridge
volumes:
  pgadmin_data:
  pgdata:
  postgres_superset:
